* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
  
  }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
  *{
      margin:0;
      padding:0;
      box-sizing:border-box;
      font-family: 'poppins', sans-serif;
  }
  .container {
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(to right, rgb(243, 233, 234), rgb(101, 101, 221));
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 30px;
  }
  
  .form {
    position: absolute;
    background-color: white;
    max-width: 430px;
    width: 100%;
    padding: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
  }
  
  .signup {
    opacity: 0;
    pointer-events: none;
  }
  
  .forms.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
  }
  
  .forms.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
  }
  
  header {
    font-size: 30px;
    font-weight: 500;
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  form {
    margin-top: 30px;
  }
  
  .form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
  }
  
  .field input,
  .field button {
    height: 100%;
    width: 100%;
    border: 1px solid grey;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    height: 35px;
  }
  
  .input {
    outline: none;
    padding: 0 15px;
    border: 1px solid grey;
  }
  
  .input:focus {
    border-bottom-width: 2px;
    background: grey;
  }
  
  .eye-icon {
    position: absolute;
    top: 25%;
    right: 10px;
    transform: translate(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
  }
  
  .field button {
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .field button:hover {
    background-color: #016dcb;
  }
  
  .form-link {
    text-align: center;
    margin-top: 10px;
    padding-top: 20px;
  }
  
  .form-link span,
  .form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
  }
  
  .form a {
    color: #0171d3;
    text-decoration: none;
  }
  
  .form-content a:hover {
    text-decoration: underline;
  }
  
  .line {
    position: relative;
    width: 25%;
    height: 1px;
    margin: 36px 0;
    background-color: #d4d4d4;
    margin-bottom: 1px;
  }
  
  .line::before {
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #232836;
    padding: 0px 15px;
  }
  
  .media-option a {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  .media-option a.google {
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgb(234, 93, 93);
  }
  
  a.facebook {
    color: #fff;
    background-color: #4267b2;
  }
  
  .a.facebook .facebook-icon {
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }
  
  .facebook-icon,
  img.google-img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
  }
  
  img.google-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
  }
  
  a.google {
    border: 2px solid rgb(223, 84, 84);
  }
  
  .google-img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
  }
  
  a.google span {
    font-weight: 500;
    opacity: 0.7;
    color: #232836;
  }
  
  @media screen and (max-width: 500px) {
    .form {
      padding: 15px, 10px;
    }
  }